* {
  background: transparent;
  margin: 0;
  padding: 0;
}

html {
  background: #fdf6e3;
  height: 100%;
}

body {
  background: #fdf6e3;
  height: 100%;
  padding: 0px;
}

legend {
  position: relative;
  top: -1px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-weight: normal;
  font-size: 0.8em;
}

textarea {
  background: #eee8d5;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  resize: none; 
}

li {
  user-select: none;
}

#content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" "left  content right" "footer footer footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

header img#logo {
  width: 64px;
  padding: 1px;
  border-radius: 12px;

/*  
  background: #b8aa90; 
  box-shadow: inset 11px 11px 22px #9e927c,
              inset -11px -11px 22px #d2c2a4;
*/
}

header h1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
}

header div {
}

header button {
  border: 1px solid #dc322f;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: sans-serif;
  font-variant: small-caps;
}

main {
  grid-area: content;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "list command response" "list request reply";
  gap: 10px;

  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}

main .panel {
  border: 1px solid #839496;
  border-radius: 12px;
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

main .panel button {
  border: 1px solid #dc322f;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
}

main .panel::-webkit-scrollbar {
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main .panel::-webkit-scrollbar-track {
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main .panel::-webkit-scrollbar-thumb {
  background: #eee8d5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main div.section {
  width: fit-content;
  display: none;
  grid-auto-rows: auto;
  grid-template-columns: auto auto 1fr;
  row-gap: 4px;
  column-gap: 8px;
  margin-bottom: 8px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  white-space: nowrap;
}

main div.section.visible {
  display: grid;
}

main div.section .section-label {
  height: 100%;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

main div.section .parameter-label {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}

main div.section .parameter-label.disabled {
  color: #c0c0c0;
}

main div.section .parameter-value {
  grid-column: 3;
  width: 120px;
}

main div.section .parameter {
  grid-column: 2 / span 2;
  display: flex;
  align-items: center;
}

main div.section .parameter.disabled {
  color: #c0c0c0;
}

main div.section .parameter input {
  margin-left: 8px;
}

main div.section label.weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
  font-variant: none;
  font-size: 0.7em;
}

main div.section label.weekday.disabled {
  color: #c0c0c0;
}

main div.section div.weekdays {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0px;
}

main div.section label.weekday input {
  margin-left: 0px;
}

main #list {
  grid-area: list;
  overflow-y: auto;
}

main #list ul li {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  list-style-type: none;
  border-radius: 4px;
}

main #list ul li.spacer {
  margin-top: 2px;
  margin-bottom: 2px;
}

main #list ul li:hover {
  background: #e0e0e0;
}

main #command {
  grid-area: command;
  overflow-y: auto;
}

main #command div.executor {
  margin-bottom: 12px;
}

main #command div.label {
  display: flex;
  align-items: flex-start;
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-size: 0.9em;
}

main #command button {
  width: 144px;
  height: fit-content;
}

main #command input {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;

  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-size: 1em;

  border: 1px solid #dc322f;
  border-radius: 4px;
  box-shadow: none;
}

main #command input:disabled {
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
}

main #command input::placeholder {
  font-size: 0.8em;
}

main #command input:disabled::placeholder {
  color: #c0c0c0;
}

main #command div.command {
  display: flex;
  flex-direction: row;
}

main #command div.command div.args {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main #command::-webkit-scrollbar {
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main #command::-webkit-scrollbar-track {
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main #command::-webkit-scrollbar-thumb {
  background: #eee8d5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main #command div.executor {
  background: #eee8d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
}

main input#cmd {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

main div.executor button#execute {
  width: fit-content;
  padding-left: 24px;
  padding-right: 24px;
  border: 2px solid green;
  font-weight: bold;
}

main div.executor button#execute:disabled {
  font-weight: normal;
  border: 2px solid #a0a0a0;
}

main #response {
  grid-area: response;
}

main #request {
  grid-area: request;
}

main #reply {
  grid-area: reply;
}

main #request textarea {
  width: 100%;
  height: 100%;
}

main #reply textarea {
  width: 100%;
  height: 100%;
}

main #response textarea {
  width: 100%;
  height: 100%;
}

footer {
  grid-area: footer;
  height: auto;
  min-height: 1em;
  background: #eee8d5;
  color: #002b36;

  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
}

footer #message {
  color: #dc322f;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
}

